*{
  margin: 0;
  padding: 0;
}
body.blue{
  background-color: #0b45e6;
}
body.white{
  background-color: white;

}

.logo{
  background-image: url("/static/blomid@3x.svg");
  height: 17.5px;
  width: 12.5px;
  margin-right: 2rem;
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 5.5rem;
  padding: 0 1rem;
}
li {
  float:left;
  border-top: 4px solid #0b45e6;
}

li a {
  display: block;
  color: white;
  margin-top: .75rem;
  text-align: center;
  padding: 14px 16px;
  font-size: large;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li:hover {
  border-top: 4px solid #fe5a88;
}
li:last-child{
  float:right;
}
li:last-child:hover, li:first-child:hover{
  border-top: 4px solid #0b45e6;
}
li:last-child a{
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}
li:last-child a:hover{
  background-color: #fe5a88;
}
.front{
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 2rem;
  color: white;
}
.front h1{
  color: #e8e8e8;
  font-family: sans-serif;
  font-size: 4.5rem;
}
.front p{
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}
.front a{
  background-color: #fe5a88;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  padding: .75rem;
  font-size: medium;
  border-radius: 4px;
  border: none;
  font-weight: bold;
}

/* LOGIN APP */
.login_app{
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  width: 40vw;
  padding: 2rem;
  text-align: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login_app h1{
  margin-bottom: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.login_app form{
  display: flex;
  flex-flow:column;
  gap: 1rem;
}
.login_app form input{
  color: #666;
  padding: 1rem;
  border-radius: 15px;
  border: none;
}
.login_app form button{
  padding: 1rem;
  border-radius: 15px;
  border: none;
  background-color: #fe5a88;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.login_app form p a{
  color: white;
  text-decoration: none;
}