*{
  margin:0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.logo2{
  background-image: url("/static/blomid@3x.svg");
  height: 17.5px;
  width: 12.5px;
  margin-right: 2rem;
}
.ul2{
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 5.5rem;
  padding: 0 1rem;
  background-color: #0b45e6;
}
.ul2 li {
  float:left;
}
.ul2 li:last-child{
  float:right;
}
.ul2 button{
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 1.5rem;
  padding: .75rem;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.ul2 button:hover{
  background-color: #fe5a88;
}
.hello{
  margin-top: 1rem;

}
.staff_main{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;

}
.staff_nav{
  display: block;
  background-color: rgb(11, 69, 230);
  width: 20vw;
  height: 60vh;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  gap: .5rem;
  margin-left: 1rem;
}
.staff_nav li{
  padding: .5rem;
  border-radius: 15px;
}
.staff_nav li:hover{
  background-color: rgba(255, 255, 255, 0.2);

}
.staff_nav li a{
  color: white;
}
.helptext{
  display: none;
}

.flex{
  display: flex;
  gap: 5rem;
  padding: 1rem;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
.backmodall{
  height: 100vh;
  width: 100vw;
}

form{
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.form{
  /* margin: 0 auto; */
  background-color: rgba(11, 69, 230, 0.2);
  border-radius: 30px;
  width: 20vw;
  padding: 2rem;
  text-align: center;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form form input{
  color: #666;
  padding: .5rem;
  border-radius: 15px;
  border: none;
}