{% extends 'bank_app/base/base3.html' %} 
{% block content %}
  {% for customer in customers %}
    {% if customer.user_id == user_id %}
      <li>{{ customer.customer_rank }}</li>
    {% endif %}
  {% endfor %}
  {% for account in accounts %}
    {% if account.user_id == user_id %}
    <li>{{ account.user }} - {{ account.title }} - {{ account.balance }} - {{ account.money }}</li>
    {% endif %}
  {% endfor %}

  {% if error %}
    {{ error }}
  {% endif %} 
{% endblock %}