{% extends 'bank_app/base/base.html' %} 
{% block content %}
   <div class="front">
      <div>
         <h1>Welcome to Sparion</h1>
         <p>
            Við hjálpum þér með það sem upp á vantar með Núláni í Arion appinu. Þú getur alltaf greitt inn á lánið, þér að kostnaðarlausu. 
         </p>
         <a href="{% url 'login_app:sign_up' %}">
            Let's start
         </a>
      </div>
   </div>
   <!-- <a href="{% url 'login_app:sign_up' %}">Sign Up</a>
   <a href="{% url 'login_app:login' %}">Login</a> -->
   {% endblock %}
