{% extends 'bank_app/base/base2.html' %}
{% block content %}
  <h1>Create a new account</h1>
  <div class="form">
  <form action="" method="post">
    {% csrf_token %}
    {{account_form}}
    <input type="submit" value="Create an account" />
  </form>
</div>
{% endblock %}
